name: Build & Restart
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: yarn add
      - name: Generate Prisma
        run: yarn prisma generate
      - name: Build
        run: yarn build
      - name: Stopping previous instances
        continue-on-error: true
        run: pm2 stop sky-timestamp-bot
      - name: Starting new instances
        run: yarn back


 